node-red.json
[
    {
        "id": "e7fea22c6db80f6b",
        "type": "tab",
        "label": "PROJETO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eae36cacc1b03e47",
        "type": "mqtt in",
        "z": "e7fea22c6db80f6b",
        "name": "Distância_01 Broker",
        "topic": "PROJETO-IOT_05H-01/Distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c99d40eba7a83a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "d889c86314b9caa2"
            ]
        ]
    },
    {
        "id": "22543a357ce369f1",
        "type": "debug",
        "z": "e7fea22c6db80f6b",
        "name": "debug projeto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "90b50298a8750391",
        "type": "mqtt in",
        "z": "e7fea22c6db80f6b",
        "name": "Temperatura_01 Broker",
        "topic": "PROJETO-IOT_05H-01/Temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c99d40eba7a83a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "54ef4466dd256a7f"
            ]
        ]
    },
    {
        "id": "54ef4466dd256a7f",
        "type": "influxdb out",
        "z": "e7fea22c6db80f6b",
        "influxdb": "fb41385a812c568e",
        "name": "",
        "measurement": "Temperatura_01",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IoT",
        "bucket": "sensor",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "d889c86314b9caa2",
        "type": "influxdb out",
        "z": "e7fea22c6db80f6b",
        "influxdb": "fb41385a812c568e",
        "name": "",
        "measurement": "Distancia_01",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IoT",
        "bucket": "sensor",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "4026bf68f525b48f",
        "type": "mqtt in",
        "z": "e7fea22c6db80f6b",
        "name": "Distância_02 Broker",
        "topic": "PROJETO-IOT_05H-02/Distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c99d40eba7a83a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "f78f3f94cde6721a"
            ]
        ]
    },
    {
        "id": "d0b6f5458e5f6d0e",
        "type": "mqtt in",
        "z": "e7fea22c6db80f6b",
        "name": "Temperatura_02 Broker",
        "topic": "PROJETO-IOT_05H-02/Temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c99d40eba7a83a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "0bcad1b7c32bb093"
            ]
        ]
    },
    {
        "id": "f78f3f94cde6721a",
        "type": "influxdb out",
        "z": "e7fea22c6db80f6b",
        "influxdb": "fb41385a812c568e",
        "name": "",
        "measurement": "Distancia_02",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IoT",
        "bucket": "sensor",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "0bcad1b7c32bb093",
        "type": "influxdb out",
        "z": "e7fea22c6db80f6b",
        "influxdb": "fb41385a812c568e",
        "name": "",
        "measurement": "Temperatura_02",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IoT",
        "bucket": "sensor",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "3c99d40eba7a83a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fb41385a812c568e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Luke",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": "10",
        "rejectUnauthorized": false
    }
]